.data {
  color: #5f6368;
  font-weight: 500;
  margin-left: 1em;
}

.details {
  color: rgba(0, 0, 0, 0.54);
  fill: rgba(0, 0, 0, 0.54);
}

th:hover {
  cursor: pointer;
  text-decoration: underline;
}
